<div
  class="ov-app ov-app-back-in-stock"
  data-app="back-in-stock"
  data-app-id="bis_cbuk3ah4k7hjodo"
></div>
<div
  class="ov-app ov-app-back-in-stock-floating-button"
  data-app-id="bis_cbuk3ah4k7hjodo"
  data-app="back-in-stock-floating-button"
></div>