<div style="position: relative;bottom: 0;left: 0;" id="juicier-container" data-account-id="shopify:pro-bike-supply.myshopify.com">
  
    <a style="font-size: 8px;color: #19191f36;text-decoration: none;" href="https://apps.shopify.com/proof-factor" target="_blank">best social proof app shopify</a>
  
</div>
<script defer type="text/javascript" src="https://cdn.prooffactor.com/javascript/dist/1.0/jcr-widget.js"></script>