
			<!--  !DO NOT DELETE! Automizely Page Builder start  -->
			
			<script>
				window.PB_PUBLIC_VARIABLE =
				{
					
				}
				;
				window.PB_builder= {
					id:"0d2a9572e7fa47919a2068b06a023638",
					type:"regular-page",
					env:"production",
				}
			</script>
			<div id="pb-root">
			<style>
				*{
					font-family: Arial;
				}
			</style>
			<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.15/css/vendor.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.15/css/PowerBy.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.15/css/ContactForm.css"/>
			<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial:400,500,600,700"/>
			<div data-hk="0-0-0" class="pe-page " data-pe-id="page" style="background:#fff;display:flex;flex-direction:column;align-items:center;position:relative;width:100%;min-height:100%;--pb--bg-color:#fff;--pb--font-family:Arial;--pb--heading-color:#232933;--pb--description-color:#232933;--pb--button-color:#FFFFFF;--pb--button-background:#FF6000"><style>.pe_rich_text_h1 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h3 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_p1 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_p2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_p3 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h1 {
  font-size: 48px;
  line-height: 56px;
}

.pe_rich_text_h2 {
  font-size: 28px;
  line-height: 36px;
}

.pe_rich_text_h3 {
  font-size: 24px;
  line-height: 32px;
}

.pe_rich_text_h4 {
  font-size: 20px;
  line-height: 28px;
}

.pe_rich_text_p1 {
  font-size: 16px;
  line-height: 28px;
}

.pe_rich_text_p2 {
  font-size: 14px;
  line-height: 24px;
}

.pe_rich_text_p3 {
  font-size: 12px;
  line-height: 20px;
}

.pe_rich_text_h1 {
  color: var(--pb--heading-color);
}

.pe_rich_text_h2 {
  color: var(--pb--heading-color);
}

.pe_rich_text_h3 {
  color: var(--pb--heading-color);
}

.pe_rich_text_p1 {
  color: var(--pb--description-color);
}

.pe_rich_text_p2 {
  color: var(--pb--description-color);
}

.pe_rich_text_p3 {
  color: var(--pb--description-color);
}

.MOBILE-preview .pe_rich_text_h1 {
  font-size: 32px;
  line-height: 40px;
}

@media only screen and (max-width: 750px) {
  .pe_rich_text_h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
.pe_rich_text_h1_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(8.52vw + 16px);
}

.pe_rich_text_h2_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(4.32vw + 16px);
}

.pe_rich_text_h3_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(1.8vw + 16px);
}

.pe_rich_text_p1_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(0.96vw + 16px);
}

.pe_rich_text_p2_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(0.48vw + 16px);
}

.pe_rich_text_p3_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(0vw + 16px);
}

.pe_rich_text_h1_v2 {
  margin: 32px 0;
  line-height: 1;
  color: var(--pb--heading-color);
}

.pe_rich_text_h2_v2 {
  margin: 32px 0;
  line-height: 1;
  color: var(--pb--heading-color);
}

.pe_rich_text_h3_v2 {
  margin: 32px 0;
  line-height: 1;
  color: var(--pb--heading-color);
}

.pe_rich_text_p1_v2 {
  margin: 16px 0;
  line-height: 1.3;
  color: var(--pb--description-color);
}

.pe_rich_text_p2_v2 {
  margin: 16px 0;
  line-height: 1.3;
  color: var(--pb--description-color);
}

.pe_rich_text_p3_v2 {
  margin: 16px 0;
  line-height: 1.3;
  color: var(--pb--description-color);
}

.MOBILE-preview .pe_rich_text_h1_v2 {
  font-size: calc(3.2 * 0.012 * min(100vh, 900px) + 16px);
}
.MOBILE-preview .pe_rich_text_h2_v2 {
  font-size: calc(1.8 * 0.012 * min(100vh, 900px) + 16px);
}
.MOBILE-preview .pe_rich_text_h3_v2 {
  font-size: calc(1.2 * 0.012 * min(100vh, 900px) + 16px);
}
.MOBILE-preview .pe_rich_text_p1_v2 {
  font-size: calc(0.5 * 0.012 * min(100vh, 900px) + 16px);
}
.MOBILE-preview .pe_rich_text_p2_v2 {
  font-size: calc(0 * 0.012 * min(100vh, 900px) + 16px);
}
.MOBILE-preview .pe_rich_text_p3_v2 {
  font-size: calc(-0.1 * 0.012 * min(100vh, 900px) + 16px);
}

@media only screen and (max-width: 750px) {
  .pe_rich_text_h1_v2 {
    font-size: calc(3.2 * 0.012 * min(100vh, 900px) + 16px);
  }
  .pe_rich_text_h2_v2 {
    font-size: calc(1.8 * 0.012 * min(100vh, 900px) + 16px);
  }
  .pe_rich_text_h3_v2 {
    font-size: calc(1.2 * 0.012 * min(100vh, 900px) + 16px);
  }
  .pe_rich_text_p1_v2 {
    font-size: calc(0.5 * 0.012 * min(100vh, 900px) + 16px);
  }
  .pe_rich_text_p2_v2 {
    font-size: calc(0 * 0.012 * min(100vh, 900px) + 16px);
  }
  .pe_rich_text_p3_v2 {
    font-size: calc(-0.1 * 0.012 * min(100vh, 900px) + 16px);
  }
}
.pe_rich_text_underline {
  text-decoration: underline;
}

.pe_rich_text_strikeThrough {
  text-decoration: line-through;
}

.pe_rich_text_underline.pe_rich_text_strikeThrough {
  text-decoration: underline line-through;
}

.pe_rich_text_bold {
  font-weight: bold;
}

.pe_rich_text_italic {
  font-style: italic;
}</style><style>
        .pe-page-content{
          max-width: 1248px
        }
      </style><!--#--><div data-hk="0-0-1-1-0-0" class="pb_power_by_wrapper" data-isshowineditor="false" data-isshowinproduct="false"><!--#--><!--/--><!--#--><!--/--></div><style data-hk="0-0-1-2-0-3">
			
        @media only screen and (min-width: 1248px) {
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .full-bleed img, .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .inset img, .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .full-bleed img, .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .inset img, .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      
			@media only screen and (max-width: 750px){
				.background-image.pc{
					display: none;
				}
				.background-image.mobile{
					display: block;
				}
			}
			@media only screen and (min-width: 750px){
				.background-image.pc{
					display: block;
				}
				.background-image.mobile{
					display: none;
				}
			}
		</style><style data-hk="0-0-1-2-0-4">
    .html_sectionfced1929-4f16-4bc7-8999-74692a722015, .html_sectionfced1929-4f16-4bc7-8999-74692a722015 .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-2-0-5"></style><div data-hk="0-0-1-2-0-6" class="html_sectionfced1929-4f16-4bc7-8999-74692a722015 " data-pe-id="html_sectionfced1929-4f16-4bc7-8999-74692a722015" style="width:100%;min-height:50px;background-color:var(--pb--bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative;min-width:0"><!--#--><!--/--><!--#--><div data-hk="0-0-1-2-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-2-0-7-1-0-0-1" data-pe-id="html_imagee4799eee-8c3c-4506-8e01-df515bbbcada"><div class="html_imagee4799eee-8c3c-4506-8e01-df515bbbcada" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-0-0-0" class="apb-lazyload" src="https://assets.am-static.com/page_builder/editorV2/b788cdfea8854021f90202281a83abe4" data-src="https://pages.am-usercontent.com/images/6c96f4f1277485aa8ac4dcbfc343ea445cdb5479/image_upload_e0d723980f7a4aa6bd80b58713c66d84.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block;pointer-events:auto;user-select:none"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-1-0-0" class="html_text4291e35d-980b-40f9-90de-c89091fd9338 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial;min-width:0" data-pe-id="html_text4291e35d-980b-40f9-90de-c89091fd9338"><div class=""><p data-hk="0-0-1-2-0-7-1-1-0-2" class="pe_rich_text_p2_v2 " style="text-align:center"><span data-hk="0-0-1-2-0-7-1-1-0-1" style="font-weight:undefined;font-style:undefined;text-decoration: underline;font-size:undefined;color:inherit">In Store Consignment Bike Sales Program</span></p><p data-hk="0-0-1-2-0-7-1-1-0-4" class="pe_rich_text_p3_v2 " style="text-align:center"><span data-hk="0-0-1-2-0-7-1-1-0-3" style="font-weight:undefined;font-style:italic;text-decoration: undefined;font-size:undefined;color:inherit">Out with the old, In with the New!</span></p><p data-hk="0-0-1-2-0-7-1-1-0-6" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-5" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Looking to purchase a new bike but don't know what to do with your old one? We've got you covered!  We take all the work out of selling your old bike by selling it for you. Either wait for your bike to sell and use that money towards your purchase of a new bike or purchase a new bike and get Cash or Check once it sells. </span></p><p data-hk="0-0-1-2-0-7-1-1-0-8" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-7" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">How much do we charge? </span></p><p data-hk="0-0-1-2-0-7-1-1-0-10" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-9" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">If all the money from your old bike is being rolled over into a new purchase (bike, frame or wheels) then you just pay a very reasonable 5% Consignment Fee. We know things sometimes don't go as planned so if you end up deciding to not get a new bike from us and just want cash back then the fee is 15% (of the total selling price, excluding shipping).  Fees including but not limited to, Wear items, Consignment, Boxing, Shipping, and any Credit Card fees will be taken out of total sale price for the bike. </span></p><p data-hk="0-0-1-2-0-7-1-1-0-12" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-11" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">What are the additional fees?</span></p><p data-hk="0-0-1-2-0-7-1-1-0-14" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-13" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">In addition to our consignment fee, you are responsible for any transaction and shipping fees. If a buyer pays with PayPal or with a  credit card you are responsible for the transaction fees which averages around 2%. If a bike is shipping, the goal is to get the buyer to pay for the shipping charge (including insurance) but you would be responsible for the $125 packing fee which includes our custom full size bike box.  Ideally, we try to sell bikes locally for cash to avoid as many fees as possible.</span></p><p data-hk="0-0-1-2-0-7-1-1-0-16" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-15" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">For this reason, bikes need to be left with us until they are sold. </span></p><p data-hk="0-0-1-2-0-7-1-1-0-18" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-17" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Do I need to clean or service my bike? </span></p><p data-hk="0-0-1-2-0-7-1-1-0-20" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-19" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">No. We do this all for you!</span></p><p data-hk="0-0-1-2-0-7-1-1-0-22" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-21" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">We will clean and run through the bike to make sure that everything is safe to ride, including checking the brakes, topping off sealant, adjusting shifting and torquing bolts. We replace any consumable parts (Cassette, Chain, Chainring, Brakes Pads, Rotors, and Tires) that have less than 50% life left.  Lastly, we check to make sure that suspension dampers are functioning properly. Basic suspension service is not required unless the wiper seals are damaged or leaking. All labor and parts are put on your shop account and just deducted from the final sale price of the bike. </span></p><p data-hk="0-0-1-2-0-7-1-1-0-24" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-23" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Where are bikes listed for sale and how do we determine a list price?</span></p><p data-hk="0-0-1-2-0-7-1-1-0-26" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-25" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Bikes are listed on Pinkbike, Facebook MarketPlace, or Craig’s List; or a combination of them. We do not list on eBay due to their expensive fee structure. We do however check recent sales on eBay as well as active listings on Pinkbike to determine a fair market price. Bikes are listed slightly above the market price to allow room for negotiations. </span></p><p data-hk="0-0-1-2-0-7-1-1-0-28" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-27" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Every week that the bike doesn't sell we will lower the price 5-10% until it sells. It is tough to estimate what a bike will actually sell for as competing bikes, weather and economic conditions will play a major role. </span></p><p data-hk="0-0-1-2-0-7-1-1-0-30" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-29" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">If a given bike does not sell within 100 days then Pro Bike Supply reserves the right to unlist the bike and return the bike to the customer.</span></p><p data-hk="0-0-1-2-0-7-1-1-0-32" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-31" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">How do I get paid? </span></p><p data-hk="0-0-1-2-0-7-1-1-0-35" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-33" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">This depends on if you sell your bike before or after purchasing a new bike. Most customers purchase and pay for a new bike before selling their old bike to limit any down time without a bike. In this case we will give you cash or check once your bike has sold (and has been delivered to the buyer). If you want to sell your old bike first, we will l</span><span data-hk="0-0-1-2-0-7-1-1-0-34" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:#000000">et you know once it sells and then just load the proceeds onto your shop account so the funds are available right away to apply to the purchase of your new bike.</span></p><p data-hk="0-0-1-2-0-7-1-1-0-37" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-36" style="font-weight:bold;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Limitations: </span></p><p data-hk="0-0-1-2-0-7-1-1-0-39" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-38" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Bikes need to have an estimated value of at least $1500 and be no more than 10 years old. Multiple bikes can't be combined to meet this threshold. We do not accept any bikes that have been involved in a major crash or have had any modifications or repairs done that we consider to be a potential safety issue. Lastly, bikes come in all shapes and sizes so we reserve the right to refuse any bikes that we feel wouldn't appeal to our customer base.</span></p><p data-hk="0-0-1-2-0-7-1-1-0-42" class="pe_rich_text_p3_v2 " style="text-align:left"><span data-hk="0-0-1-2-0-7-1-1-0-40" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:inherit">Pro Bike Supply does not do consignment sales of any bike parts besides Complete Bikes and Framesets. </span><span data-hk="0-0-1-2-0-7-1-1-0-41" style="font-weight:undefined;font-style:italic;text-decoration: undefined;font-size:undefined;color:inherit">For any consignment inquiries about bike parts feel free to reach out directly to our associate Matty, who offers that service separate from the shop. (Cell: 763-218-1611; matty@probikesupply.com)</span></p></div></div><div data-hk="0-0-1-2-0-7-1-2-0-1" data-pe-id="html_imagee6f09420-4ba1-46b7-8904-685bc45d315c"><div class="html_imagee6f09420-4ba1-46b7-8904-685bc45d315c" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-2-0-0" class="apb-lazyload" src="https://assets.am-static.com/page_builder/editorV2/b788cdfea8854021f90202281a83abe4" data-src="https://pages.am-usercontent.com/images/6c96f4f1277485aa8ac4dcbfc343ea445cdb5479/image_upload_c8feb29668aa4806a4ba3e5c3e3b1840.jpeg" style="width:30%;height:auto;max-width:100%;display:inline-block;pointer-events:auto;user-select:none"><!--/--><!--#--><a data-hk="0-0-1-2-0-7-1-2-0-3-0" style="position:absolute;color:unset;text-decoration:unset;width:100%;height:100%;display:block" href="https://www.pinkbike.com/u/probikesupply/buysell/"></a><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-3-0-0" class="html_text765494c8-0c58-47c5-b731-788359955f06 " style="white-space:pre-wrap;overflow-wrap:break-word;outline:none;color:var(--pb--description-color);line-height:initial;min-width:0" data-pe-id="html_text765494c8-0c58-47c5-b731-788359955f06"><div class=""><h4 data-hk="0-0-1-2-0-7-1-3-0-2" class="pe_rich_text_h4_v2 " style="text-align:center"><span data-hk="0-0-1-2-0-7-1-3-0-1" style="font-weight:undefined;font-style:undefined;text-decoration: undefined;font-size:undefined;color:undefined">Questions about our program? Contact us below</span></h4></div></div><div data-hk="0-0-1-2-0-7-1-4-0-9" class="pb_contact_form9882b68c-7598-4f5c-9f66-f5bd5870a1cc " data-pe-id="pb_contact_form9882b68c-7598-4f5c-9f66-f5bd5870a1cc"><div class="pb-contact-us-form-wrapper" style="--pb--button-background:#FF6000;--pb--button-color:#FFFFFF"><!--#--><div data-hk="0-0-1-2-0-7-1-4-0-10-0">{% form "contact" %}</div><!--/--><!--#--><div data-hk="0-0-1-2-0-7-1-4-0-1" class="pb-contact-us-form-full-name"><div class="pb-contact-us-form-item pb-contact-us-form-first-name"><span class="pb-contact-us-form-label">First name <span style="color:red">*</span></span><input type="text" name="contact[First name ]" maxlength="50" required class="pb-contact-us-form-input"></div><div class="pb-contact-us-form-item pb-contact-us-form-last-name"><span class="pb-contact-us-form-label">Last name <span style="color:red">*</span></span><input type="text" name="contact[Last name ]" required maxlength="50" class="pb-contact-us-form-input"></div></div><div data-hk="0-0-1-2-0-7-1-4-0-2" class="pb-contact-us-form-item"><span class="pb-contact-us-form-label">Email <span style="color:red">*</span></span><input type="email" name="contact[email]" required class="pb-contact-us-form-input"></div><div data-hk="0-0-1-2-0-7-1-4-0-7" class="pb-contact-us-form-item"><span class="pb-contact-us-form-label">Phone number <span style="color:red">*</span></span><input type="tel" maxlength="50" name="contact[Phone number ]" required class="pb-contact-us-form-input"></div><div data-hk="0-0-1-2-0-7-1-4-0-8" class="pb-contact-us-form-item"><span class="pb-contact-us-form-label">Message <span style="color:red">*</span></span><textarea maxlength="1000" name="contact[Message ]" required class="pb-contact-us-form-textarea"></textarea></div><!--/--><button type="submit" class="pb-contact-us-form-button">Submit</button><!--#--><!--/--><!--#--><!--/--><!--#--><div data-hk="0-0-1-2-0-7-1-4-0-13-0">
						{% for field in form.errors %}
							{% if field == "form" %}
							<div data-hk="0" class="pb-contact-us-form-error" style="display:flex"><img class="pb-contact-us-form-success-icon" src="https://websites.am-static.com/automizely/images/pages/statics/warning.svg" alt="banner-icon"><div class="pb-contact-us-form-error-text">Failed to submit the form, please try again.</div></div>
							{{ form.errors.messages[field] }}
							{% endif %}
							{% if form.errors.messages[field] contains "can't be blank." %}
							<div data-hk="0" class="pb-contact-us-form-error" style="display:flex"><img class="pb-contact-us-form-success-icon" src="https://websites.am-static.com/automizely/images/pages/statics/warning.svg" alt="banner-icon"><div class="pb-contact-us-form-error-text">Failed to submit the form, please try again.</div></div>
							{% else %}
							<div data-hk="0" class="pb-contact-us-form-error" style="display:flex"><img class="pb-contact-us-form-success-icon" src="https://websites.am-static.com/automizely/images/pages/statics/warning.svg" alt="banner-icon"><div class="pb-contact-us-form-error-text">Failed to submit the form, please try again.</div></div>
							{% endif %} {% endfor %}
							{% if form.posted_successfully? %}
							<div data-hk="0-0-1-2-0-7-1-4-0-0" class="pb-contact-us-form-success"><img class="pb-contact-us-form-success-icon" src="https://websites.am-static.com/automizely/images/pages/statics/tick.svg" alt="banner-icon"><div class="pb-contact-us-form-success-text">Thank you for your question! We'll get in touch with you shortly.</div></div>
							{% endif %}
						{% endform %}</div><!--/--><!--#--><div data-hk="0-0-1-2-0-7-1-4-0-14" class="pb-contact-us-form-error" style="display:none"><img class="pb-contact-us-form-success-icon" src="https://websites.am-static.com/automizely/images/pages/statics/warning.svg" alt="banner-icon"><div class="pb-contact-us-form-error-text">Failed to submit the form, please try again.</div></div><!--/--></div></div></div></div><div data-hk="0-0-1-2-0-7-2"></div><!--/--></div><!--/--></div><script>var e,t;e=window._$HY||(_$HY={events:[],completed:new WeakSet,r:{}}),t=e=>e&&e.hasAttribute&&(e.hasAttribute("data-hk")?e:t(e.host&&e.host instanceof Node?e.host:e.parentNode)),["click","input"].forEach((o=>document.addEventListener(o,(o=>{let s=o.composedPath&&o.composedPath()[0]||o.target,a=t(s);a&&!e.completed.has(a)&&e.events.push([a,o])})))),e.init=(t,o)=>{e.r[t]=[new Promise(((e,t)=>o=e)),o]},e.set=(t,o,s)=>{(s=e.r[t])&&s[1](o),e.r[t]=[o]},e.unset=t=>{delete e.r[t]},e.load=t=>e.r[t];</script><!--xs-->
			</div>
			<script type="module">
				import { PE } from "https://page-builder.automizely.com/editorv2/client-0.4.15/client.js";
					PE.initCollect()
					PE.BlockManager.renderPage({"static":{"page":{"type":"html_page","idx":"page","data":{"value":{"styleVar":{"--pb--bg-color":"#fff","--pb--font-family":"Arial","--pb--heading-color":"#232933","--pb--description-color":"#232933","--pb--button-color":"#FFFFFF","--pb--button-background":"#FF6000"},"business_settings":{"forms":[],"product_assignment":{"type":"","products":null,"first_product":{"id":"","organization_id":"","external_product_id":"","product_title":"","description":"","product_handle":"","product_url":"","product_image_urls":null,"product_inventory":0,"created_at":"0001-01-01T00:00:00Z","updated_at":"0001-01-01T00:00:00Z","published":false,"first_variant_price":null,"first_variant_compare_at_price":null,"product_variants":null,"page_id":""}},"blog_assignment":{"blog":{"id":"","organization":{"id":""},"app":{"platform":"","name":"","key":"","options":{"access_token":"","domain":""}},"external_id":"","title":"","handle":"","meta":{"title":"","description":""},"commentable":"","template":"","tags":null,"metrics":{"created_at":"","updated_at":""},"created_at":"","updated_at":""}},"collection_assignment":{"type":"","collections":null},"tags":null}},"styles":{"content-max-width":"1248px"}},"children":["header0","pb_power_by9f66c3ad-5071-4b1f-99aa-0642457bc110","html_sectionfced1929-4f16-4bc7-8999-74692a722015","footer0"]},"header0":{"type":"pb_header","idx":"header0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"footer0":{"type":"pb_footer","idx":"footer0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"pb_power_by9f66c3ad-5071-4b1f-99aa-0642457bc110":{"type":"pb_power_by","data":{"value":{"isShow":false}},"styles":{},"idx":"pb_power_by9f66c3ad-5071-4b1f-99aa-0642457bc110","children":[]},"html_sectionfced1929-4f16-4bc7-8999-74692a722015":{"type":"html_section","data":{"value":{"mobileColumnFollowDesktop":false}},"styles":{"background-color":"var(--pb--bg-color)","background-image":"","opacity":0,"image-width":"full-bleed","row-align":"start","height":"small","content-width":"100%","content-horizontal-align":"center"},"children":["html_imagee4799eee-8c3c-4506-8e01-df515bbbcada","html_text4291e35d-980b-40f9-90de-c89091fd9338","html_imagee6f09420-4ba1-46b7-8904-685bc45d315c","html_text765494c8-0c58-47c5-b731-788359955f06","pb_contact_form9882b68c-7598-4f5c-9f66-f5bd5870a1cc"],"idx":"html_sectionfced1929-4f16-4bc7-8999-74692a722015"},"html_imagee4799eee-8c3c-4506-8e01-df515bbbcada":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/6c96f4f1277485aa8ac4dcbfc343ea445cdb5479/image_upload_e0d723980f7a4aa6bd80b58713c66d84.jpeg","href":""}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagee4799eee-8c3c-4506-8e01-df515bbbcada","children":[]},"html_text4291e35d-980b-40f9-90de-c89091fd9338":{"type":"html_text","data":{"value":{"content":[{"type":"p2_v2","textAlign":"center","children":[{"text":"In Store Consignment Bike Sales Program","color":"inherit","underline":true}]},{"type":"p3_v2","textAlign":"center","children":[{"color":"inherit","text":"Out with the old, In with the New!","italic":true}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Looking to purchase a new bike but don't know what to do with your old one? We've got you covered!  We take all the work out of selling your old bike by selling it for you. Either wait for your bike to sell and use that money towards your purchase of a new bike or purchase a new bike and get Cash or Check once it sells. "}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"How much do we charge? ","bold":true}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"If all the money from your old bike is being rolled over into a new purchase (bike, frame or wheels) then you just pay a very reasonable 5% Consignment Fee. We know things sometimes don't go as planned so if you end up deciding to not get a new bike from us and just want cash back then the fee is 15% (of the total selling price, excluding shipping).  Fees including but not limited to, Wear items, Consignment, Boxing, Shipping, and any Credit Card fees will be taken out of total sale price for the bike. "}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"What are the additional fees?","bold":true}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"In addition to our consignment fee, you are responsible for any transaction and shipping fees. If a buyer pays with PayPal or with a  credit card you are responsible for the transaction fees which averages around 2%. If a bike is shipping, the goal is to get the buyer to pay for the shipping charge (including insurance) but you would be responsible for the $125 packing fee which includes our custom full size bike box.  Ideally, we try to sell bikes locally for cash to avoid as many fees as possible."}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"For this reason, bikes need to be left with us until they are sold. "}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Do I need to clean or service my bike? ","bold":true}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"No. We do this all for you!"}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"We will clean and run through the bike to make sure that everything is safe to ride, including checking the brakes, topping off sealant, adjusting shifting and torquing bolts. We replace any consumable parts (Cassette, Chain, Chainring, Brakes Pads, Rotors, and Tires) that have less than 50% life left.  Lastly, we check to make sure that suspension dampers are functioning properly. Basic suspension service is not required unless the wiper seals are damaged or leaking. All labor and parts are put on your shop account and just deducted from the final sale price of the bike. "}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Where are bikes listed for sale and how do we determine a list price?","bold":true}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Bikes are listed on Pinkbike, Facebook MarketPlace, or Craig’s List; or a combination of them. We do not list on eBay due to their expensive fee structure. We do however check recent sales on eBay as well as active listings on Pinkbike to determine a fair market price. Bikes are listed slightly above the market price to allow room for negotiations. "}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Every week that the bike doesn't sell we will lower the price 5-10% until it sells. It is tough to estimate what a bike will actually sell for as competing bikes, weather and economic conditions will play a major role. "}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"If a given bike does not sell within 100 days then Pro Bike Supply reserves the right to unlist the bike and return the bike to the customer."}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"How do I get paid? ","bold":true}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"This depends on if you sell your bike before or after purchasing a new bike. Most customers purchase and pay for a new bike before selling their old bike to limit any down time without a bike. In this case we will give you cash or check once your bike has sold (and has been delivered to the buyer). If you want to sell your old bike first, we will l"},{"color":"#000000","text":"et you know once it sells and then just load the proceeds onto your shop account so the funds are available right away to apply to the purchase of your new bike."}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Limitations: ","bold":true}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Bikes need to have an estimated value of at least $1500 and be no more than 10 years old. Multiple bikes can't be combined to meet this threshold. We do not accept any bikes that have been involved in a major crash or have had any modifications or repairs done that we consider to be a potential safety issue. Lastly, bikes come in all shapes and sizes so we reserve the right to refuse any bikes that we feel wouldn't appeal to our customer base."}]},{"type":"p3_v2","textAlign":"left","children":[{"color":"inherit","text":"Pro Bike Supply does not do consignment sales of any bike parts besides Complete Bikes and Framesets. "},{"color":"inherit","text":"For any consignment inquiries about bike parts feel free to reach out directly to our associate Matty, who offers that service separate from the shop. (Cell: 763-218-1611; matty@probikesupply.com)","italic":true}]}]}},"styles":{},"idx":"html_text4291e35d-980b-40f9-90de-c89091fd9338","children":[]},"pb_contact_form9882b68c-7598-4f5c-9f66-f5bd5870a1cc":{"type":"pb_contact_form","data":{"value":{"formField":[{"elementId":"name-element-id","label":"Name *","enabled":true,"type":"fullName","canDrag":true,"canEdit":false,"canDelete":false,"required":true,"fields":[{"label":"First name","value":"","type":"input","required":true},{"label":"Last name","value":"","type":"input","required":true}]},{"elementId":"email-element-id","label":"Email *","enabled":true,"type":"email","canDrag":true,"canEdit":false,"canDelete":false,"required":true},{"elementId":"phone-element-id","label":"Phone number *","enabled":true,"type":"phoneNumber","canDrag":true,"canEdit":false,"canDelete":false,"required":true},{"elementId":"subject-element-id","label":"Subject *","enabled":false,"type":"subject","canDrag":true,"canEdit":true,"canDelete":false,"required":true,"options":[{"optionId":"2a002885-390a-4404-b81d-d95427eb6b3e","label":"Order issues","value":"Order issues"},{"optionId":"fdfbcaf0-c4c5-4eda-9123-5da250d6f8f4","label":"Product & stock","value":"Product & stock"},{"optionId":"6c62d27c-5111-431d-b669-e39119c93bd8","label":"Delivery","value":"Delivery"}]},{"elementId":"message-element-id","label":"Message *","enabled":true,"type":"message","canDrag":true,"canEdit":false,"canDelete":false,"required":true}],"btnText":"Submit","successText":"Thank you for your question! We'll get in touch with you shortly."}},"styles":{},"idx":"pb_contact_form9882b68c-7598-4f5c-9f66-f5bd5870a1cc","children":[]},"html_text765494c8-0c58-47c5-b731-788359955f06":{"type":"html_text","data":{"value":{"content":[{"type":"h4_v2","textAlign":"center","children":[{"text":"Questions about our program? Contact us below"}]}]}},"styles":{},"idx":"html_text765494c8-0c58-47c5-b731-788359955f06","children":[]},"html_imagee6f09420-4ba1-46b7-8904-685bc45d315c":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/6c96f4f1277485aa8ac4dcbfc343ea445cdb5479/image_upload_c8feb29668aa4806a4ba3e5c3e3b1840.jpeg","href":"https://www.pinkbike.com/u/probikesupply/buysell/"}},"styles":{"width":"30%","align":"center","height":"auto"},"idx":"html_imagee6f09420-4ba1-46b7-8904-685bc45d315c","children":[]}},"mutation":{"mobile":{}},"page":{"type":"regular-page","connectionId":"8789bf4b91e0447e98a52e847b9d55ab","env":"production"}}, 'production', document.getElementById('pb-root'));
					PE.renderStickyAddToCartBar();
					PE.performanceTracker && PE.performanceTracker.IPLFinish();
			</script>
			<!--  !DO NOT DELETE! Automizely Page Builder end  -->




		