
			<!--  !DO NOT DELETE! Automizely Page Builder start  -->
			
			<script>
				window.PB_PUBLIC_VARIABLE =
				{
					
				}
				;
				window.PB_builder= {
					id:"c6d44691938145ffbc047a5103b70c09",
					type:"regular-page",
					env:"production",
				}
			</script>
			<div id="pb-root">
			<style>
				*{
					font-family: Arial;
				}
			</style>
			<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/vendor.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/PowerBy.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/ProductList.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/ProductListHeading.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/AddToCartButton.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/AddToCartStatusInfo.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/ProductImage.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/ProductModal.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/BuyGroup.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/ShopifyDynamicButton.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/Style1.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/Style2.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/Style3.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/Style4.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/Style5.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/Style6.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/Style7.css"/>
<link type="text/css" rel="stylesheet" href="https://page-builder.automizely.com/editorv2/client-0.4.13/css/VariantPicker.css"/>
			<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial:400,500,600,700"/>
			<div data-hk="0-0-0" class="pe-page " data-pe-id="page" style="background:#fff;display:flex;flex-direction:column;align-items:center;position:relative;width:100%;min-height:100%;--pb--bg-color:#fff;--pb--font-family:Arial;--pb--heading-color:#232933;--pb--description-color:#232933;--pb--button-color:#FFFFFF;--pb--button-background:#232933"><style>.pe_rich_text_h1 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h3 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_p1 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_p2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_p3 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h1 {
  font-size: 48px;
  line-height: 56px;
}

.pe_rich_text_h2 {
  font-size: 28px;
  line-height: 36px;
}

.pe_rich_text_h3 {
  font-size: 24px;
  line-height: 32px;
}

.pe_rich_text_h4 {
  font-size: 20px;
  line-height: 28px;
}

.pe_rich_text_p1 {
  font-size: 16px;
  line-height: 28px;
}

.pe_rich_text_p2 {
  font-size: 14px;
  line-height: 24px;
}

.pe_rich_text_p3 {
  font-size: 12px;
  line-height: 20px;
}

.pe_rich_text_h1 {
  color: var(--pb--heading-color);
}

.pe_rich_text_h2 {
  color: var(--pb--heading-color);
}

.pe_rich_text_h3 {
  color: var(--pb--heading-color);
}

.pe_rich_text_p1 {
  color: var(--pb--description-color);
}

.pe_rich_text_p2 {
  color: var(--pb--description-color);
}

.pe_rich_text_p3 {
  color: var(--pb--description-color);
}

.MOBILE-preview .pe_rich_text_h1 {
  font-size: 32px;
  line-height: 40px;
}

@media only screen and (max-width: 750px) {
  .pe_rich_text_h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
.pe_rich_text_h1_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(8.52vw + 16px);
}

.pe_rich_text_h2_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(4.32vw + 16px);
}

.pe_rich_text_h3_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(1.8vw + 16px);
}

.pe_rich_text_p1_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(0.96vw + 16px);
}

.pe_rich_text_p2_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(0.48vw + 16px);
}

.pe_rich_text_p3_v2 {
  margin: 0;
  font-weight: normal;
  padding: 0;
  font-size: calc(0vw + 16px);
}

.pe_rich_text_h1_v2 {
  margin: 32px 0;
  line-height: 1;
  color: var(--pb--heading-color);
}

.pe_rich_text_h2_v2 {
  margin: 32px 0;
  line-height: 1;
  color: var(--pb--heading-color);
}

.pe_rich_text_h3_v2 {
  margin: 32px 0;
  line-height: 1;
  color: var(--pb--heading-color);
}

.pe_rich_text_p1_v2 {
  margin: 16px 0;
  line-height: 1.3;
  color: var(--pb--description-color);
}

.pe_rich_text_p2_v2 {
  margin: 16px 0;
  line-height: 1.3;
  color: var(--pb--description-color);
}

.pe_rich_text_p3_v2 {
  margin: 16px 0;
  line-height: 1.3;
  color: var(--pb--description-color);
}

.MOBILE-preview .pe_rich_text_h1_v2 {
  font-size: calc(7.1 * 0.012 * min(100vh, 900px));
}
.MOBILE-preview .pe_rich_text_h2_v2 {
  font-size: calc(3.6 * 0.012 * min(100vh, 900px));
}
.MOBILE-preview .pe_rich_text_h3_v2 {
  font-size: calc(1.5 * 0.012 * min(100vh, 900px));
}
.MOBILE-preview .pe_rich_text_p1_v2 {
  font-size: calc(0.8 * 0.012 * min(100vh, 900px));
}
.MOBILE-preview .pe_rich_text_p2_v2 {
  font-size: calc(0.4 * 0.012 * min(100vh, 900px));
}
.MOBILE-preview .pe_rich_text_p3_v2 {
  font-size: calc(0 * 0.012 * min(100vh, 900px));
}

@media only screen and (max-width: 750px) {
  .pe_rich_text_h1_v2 {
    font-size: calc(7.1 * 0.012 * min(100vh, 900px));
  }
  .pe_rich_text_h2_v2 {
    font-size: calc(3.6 * 0.012 * min(100vh, 900px));
  }
  .pe_rich_text_h3_v2 {
    font-size: calc(1.5 * 0.012 * min(100vh, 900px));
  }
  .pe_rich_text_p1_v2 {
    font-size: calc(0.8 * 0.012 * min(100vh, 900px));
  }
  .pe_rich_text_p2_v2 {
    font-size: calc(0.4 * 0.012 * min(100vh, 900px));
  }
  .pe_rich_text_p3_v2 {
    font-size: calc(0 * 0.012 * min(100vh, 900px));
  }
}
.pe_rich_text_underline {
  text-decoration: underline;
}

.pe_rich_text_strikeThrough {
  text-decoration: line-through;
}

.pe_rich_text_underline.pe_rich_text_strikeThrough {
  text-decoration: underline line-through;
}

.pe_rich_text_bold {
  font-weight: bold;
}

.pe_rich_text_italic {
  font-style: italic;
}</style><style>
        .pe-page-content{
          max-width: 1248px
        }
      </style><!--#--><div data-hk="0-0-1-1-0-0" class="pb_power_by_wrapper" data-isshowineditor="false" data-isshowinproduct="false"><!--#--><!--/--><!--#--><!--/--></div><style data-hk="0-0-1-2-0-3">
			
        @media only screen and (min-width: 1248px) {
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .full-bleed img, .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .inset img, .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .full-bleed img, .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .inset img, .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      
			@media only screen and (max-width: 750px){
				.background-image.pc{
					display: none;
				}
				.background-image.mobile{
					display: block;
				}
			}
			@media only screen and (min-width: 750px){
				.background-image.pc{
					display: block;
				}
				.background-image.mobile{
					display: none;
				}
			}
		</style><style data-hk="0-0-1-2-0-4">
    .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98, .html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-2-0-5"></style><div data-hk="0-0-1-2-0-6" class="html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98 " data-pe-id="html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98" style="width:100%;min-height:50px;background-color:var(--pb--bg-color);z-index:1;max-width:none;display:flex;justify-content:center;position:relative;min-width:0"><!--#--><!--/--><!--#--><div data-hk="0-0-1-2-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-2-0-7-1-0-0-1" data-pe-id="html_image9febad63-b9a9-4403-96f8-59e5b8ab0cc2"><div class="html_image9febad63-b9a9-4403-96f8-59e5b8ab0cc2" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-0-0-0" class="apb-lazyload" src="https://assets.am-static.com/page_builder/editorV2/b788cdfea8854021f90202281a83abe4" data-src="https://pages.am-usercontent.com/images/6c96f4f1277485aa8ac4dcbfc343ea445cdb5479/image_upload_20329d8697234994ae9ecc1be4476b3d.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block;pointer-events:auto;user-select:none"><!--/--><!--#--><!--/--></div></div></div></div><div data-hk="0-0-1-2-0-7-2"></div><!--/--></div><div data-hk="0-0-1-3-0-0" id="pb_product_listca4d12f1-3786-44a2-9528-211016f8c276" class="pb_product_listca4d12f1-3786-44a2-9528-211016f8c276 " style="width:100%" data-pe-id="pb_product_listca4d12f1-3786-44a2-9528-211016f8c276"><div class="pb-product-list-section update-version false false false"><div data-hk="0-0-1-3-0-1" class="pb-product-list-content pb-product-list-style-1"><!--#--><div data-hk="0-0-1-3-0-2-0"><div class="pb-product-list-title">




<p>Transition Bikes In-Stock</p>

</div></div><!--/--><!--#--><!--/--><div class="pb-product-list-box" style="grid-template-columns:repeat(4, 1fr)" products-number="20" applies-type="specific_collections"></div></div></div></div><!--/--></div><script>var e,t;e=window._$HY||(_$HY={events:[],completed:new WeakSet,r:{}}),t=e=>e&&e.hasAttribute&&(e.hasAttribute("data-hk")?e:t(e.host&&e.host instanceof Node?e.host:e.parentNode)),["click","input"].forEach((o=>document.addEventListener(o,(o=>{let s=o.composedPath&&o.composedPath()[0]||o.target,a=t(s);a&&!e.completed.has(a)&&e.events.push([a,o])})))),e.init=(t,o)=>{e.r[t]=[new Promise(((e,t)=>o=e)),o]},e.set=(t,o,s)=>{(s=e.r[t])&&s[1](o),e.r[t]=[o]},e.unset=t=>{delete e.r[t]},e.load=t=>e.r[t];</script><!--xs-->
			</div>
			<script type="module">
				import { PE } from "https://page-builder.automizely.com/editorv2/client-0.4.13/client.js";
					PE.initCollect()
					PE.BlockManager.renderPage({"static":{"page":{"type":"html_page","idx":"page","data":{"value":{"styleVar":{"--pb--bg-color":"#fff","--pb--font-family":"Arial","--pb--heading-color":"#232933","--pb--description-color":"#232933","--pb--button-color":"#FFFFFF","--pb--button-background":"#232933"},"business_settings":{"forms":[],"product_assignment":{"type":"","products":null,"first_product":{"id":"","organization_id":"","external_product_id":"","product_title":"","description":"","product_handle":"","product_url":"","product_image_urls":null,"product_inventory":0,"created_at":"0001-01-01T00:00:00Z","updated_at":"0001-01-01T00:00:00Z","published":false,"first_variant_price":null,"first_variant_compare_at_price":null,"product_variants":null,"page_id":""}},"blog_assignment":{"blog":{"id":"","organization":{"id":""},"app":{"platform":"","name":"","key":"","options":{"access_token":"","domain":""}},"external_id":"","title":"","handle":"","meta":{"title":"","description":""},"commentable":"","template":"","tags":null,"metrics":{"created_at":"","updated_at":""},"created_at":"","updated_at":""}},"collection_assignment":{"type":"","collections":null},"tags":null}},"styles":{"content-max-width":"1248px"}},"children":["header0","pb_power_byde9d24f0-bf36-4654-9e66-eb32e4b08886","html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98","pb_product_listca4d12f1-3786-44a2-9528-211016f8c276","footer0"]},"header0":{"type":"pb_header","idx":"header0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"footer0":{"type":"pb_footer","idx":"footer0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"pb_power_byde9d24f0-bf36-4654-9e66-eb32e4b08886":{"type":"pb_power_by","data":{"value":{"isShow":false}},"styles":{},"idx":"pb_power_byde9d24f0-bf36-4654-9e66-eb32e4b08886","children":[]},"html_image9febad63-b9a9-4403-96f8-59e5b8ab0cc2":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/6c96f4f1277485aa8ac4dcbfc343ea445cdb5479/image_upload_20329d8697234994ae9ecc1be4476b3d.jpeg","href":""}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image9febad63-b9a9-4403-96f8-59e5b8ab0cc2","children":[]},"html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98":{"type":"html_section","data":{"value":{"mobileColumnFollowDesktop":false}},"styles":{"background-color":"var(--pb--bg-color)","background-image":"","opacity":1,"image-width":"full-bleed","row-align":"start","height":"small","content-width":"100%","content-horizontal-align":"center"},"children":["html_image9febad63-b9a9-4403-96f8-59e5b8ab0cc2"],"idx":"html_section4f56bfb8-4220-45ac-8a1e-ba726f45bf98"},"pb_product_listca4d12f1-3786-44a2-9528-211016f8c276":{"type":"pb_product_list","data":{"value":{"imageShape":"rectangle","showProductName":true,"showProductPrice":true,"showCompareAtPrice":true,"actionButton":true,"buttonType":"redirectButton","buttonAction":"stayOnTheSamePage","pickType":"button","actionButtonText":"View Details","actionCartButtonText":"Add to cart","productsColumn":4,"productsNumber":20,"collectionsNumber":50,"heading":"\n\n\n\n\n<p>Transition Bikes In-Stock</p>\n\n","description":"\n\n\n\n\n\n\n","products":{"applies_type":"specific_collections","collection":[{"id":"de60d2cb177d46798b76892fd6181245","organization_id":"05cd3818a8de43feb59e1e24f2457c44","external_collection_id":"265466511415","collection_title":"Transition In-Stock","collection_url":"https://pro-bike-supply.myshopify.com/collections/transition-in-stock-1","collection_image_url":"","collection_type":"smart_collection","template":"","handle":"transition-in-stock-1","published":true,"created_at":"","updated_at":"2023-01-25T18:10:34+00:00"}],"specific_products":[{"external_product_id":"6586211926071"},{"external_product_id":"6582327017527"},{"external_product_id":"6761706094647"},{"external_product_id":"6761705799735"},{"external_product_id":"6761704325175"},{"external_product_id":"6761698033719"},{"external_product_id":"6729475883063"},{"external_product_id":"6729475555383"},{"external_product_id":"6729465528375"},{"external_product_id":"6729464053815"},{"external_product_id":"6729463398455"},{"external_product_id":"6725903548471"},{"external_product_id":"6725896765495"},{"external_product_id":"6723184492599"},{"external_product_id":"6686654955575"},{"external_product_id":"6672060153911"},{"external_product_id":"6672057729079"},{"external_product_id":"6672009134135"},{"external_product_id":"6645314814007"},{"external_product_id":"6603875811383"},{"external_product_id":"6600710455351"}]},"productNameColor":"#232933","salePriceColor":"#C35056","comparePriceColor":"#CBCBCB","imageEffect":"fixedSize","styleChoice":"style1"}},"styles":{"button":{"color":"var(--pb--button-color)"}},"idx":"pb_product_listca4d12f1-3786-44a2-9528-211016f8c276","children":[]}},"mutation":{"mobile":{}},"page":{"type":"regular-page","connectionId":"8789bf4b91e0447e98a52e847b9d55ab","env":"production"}}, 'production', document.getElementById('pb-root'));
					PE.renderStickyAddToCartBar();
					PE.performanceTracker && PE.performanceTracker.IPLFinish();
			</script>
			<!--  !DO NOT DELETE! Automizely Page Builder end  -->




		