 <div class="sixteen columns">
  <div class="section clearfix">
    
  </div>
</div>

<div class="sixteen columns">
  <div class="section clearfix">  
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>