<div class="sixteen columns">
  <div class="section clearfix" align="center">
    <h1><img src="https://cdn.shopify.com/s/files/1/0892/2046/files/2018_fox_suspension_titel_ea100455-d38c-4cec-b23a-b942f96cb954.jpg?12169151358979708917" alt="" width="1200" height="200" /></h1>
 
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>